{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "printWidth": 120,
  "tailwindFunctions": ["clsx"],
  "endingPosition": "absolute",
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@camelforge/(.*)$",
    "^[./]",
    "^@/(.*)$"
  ],
  "endOfLine": "crlf"
}